html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}

.table-horizontal-heading {
  text-align: left;
}

.table-horizontal-heading td {
  padding-left: 16px;
}
