.timeline-item {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  display: flex;
}

.timeline-item__date {
  font-size: 12px;
  line-height: 2;
  min-height: 70px;
  padding: 6px 16px;
  color: #727273;
  text-align: right;
  flex: 1 1 0%;
}

.timeline-item__separator {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0;
}

.timeline-item__bullet {
  width: 7px;
  height: 7px;
  display: flex;
  align-self: baseline;
  border: 3px solid #FF7020;
  border-radius: 50%;
  margin: 11.5px 0;
  background-color: #FFEADE;
}

.timeline-item__tail {
  background-color: #CCCCCC;
  width: 2px;
  flex-grow: 1;
}

.timeline-item__content {
  flex: 1;
  padding: 6px 16px;
  text-align: left;
}

.timeline--alternate .timeline-item:nth-child(even) {
  flex-flow: row-reverse;
}

.timeline--alternate .timeline-item:nth-child(even) .timeline-item__date {
  text-align: left;
}

.timeline--alternate .timeline-item:nth-child(even) .timeline-item__content {
  text-align: right;
}
